/*.tituloApp{
    background-color: white;
    color: black;
}*/

html,body{
    height:100%;
    margin: 0;
}

.cabeceraEnlaces{
    margin-bottom: 10%;
}

body.light{
    background-color: white;
    color: black;
}

body.dark{
    background-color: black;
    color: white;
}

body.light > * button{
    color: black;
}

body.dark > * button{
    color: black;
}

body.dark > * input{
    color: black;
}

body.dark > * textarea{
    color: black;
}

body.dark{
    background-color: black;
    color: white;
}

html.light{
    background-color: white;
    color: black;
}

html.dark{
    background-color: black;
    color: white;
}